.tradingConatiner{
    margin-top:-25px;
}

.tradingheader{
    font-size:30px;
    padding-top:8px;
    color: white;
    background: url('background.jpg');
    background-size: cover;
    height: 700px;
}

.pennystocks{
    background: url('pennybackground.jpg');
    background-size: cover;
    height:700px;
}

.cryptotradding{
    background: url('crypto.jpg');
    background-size: cover;
    height:700px;
}

