h2#ttravel{
    margin-top:30px;
}

h2#number{
    margin-top:-20px;
}


h2#vsc{
    margin-left: 40px;
    margin-top: 0px;
    float: left;
}

h2#wtv{
    margin-top:-10px
}


.visitedlist ul li a:hover{
    color:blue;
}

li{
    padding-top: 15px;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color:black;
}